* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative; }
  header nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #212121;
    z-index: 1; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none; }
  .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300; }

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6); }
  .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%; }
  .subheader_official {
    margin-top: 6px;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.5; }
  .subheader_call {
    margin-top: 20.5px;
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    text-align: right; }
  .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
    line-height: 12px; }
  .subheader_btn {
    margin-top: 20.5px;
    width: 172px;
    height: 46px;
    -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
    .subheader_btn:hover {
      background: none;
      background-color: #1eacc7; }

.promo {
  padding: 200px 0 135px 0;
  min-height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat; }
  .promo_header {
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 0; }
  .promo_subheader {
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 22px; }
  .promo_descr {
    margin-top: 23px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center; }
  .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    width: 259px;
    height: 63px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
    .promo_btn:hover {
      background: none;
      background-color: #1eacc7; }

.reasons {
  padding: 18px 0 64px 0; }
  .reasons_item {
    min-height: 147px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .reasons_round {
    width: 116px;
    height: 116px;
    background: #1eacc7;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .reasons_text {
    width: 370px; }
  .reasons_subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1eacc7; }
  .reasons_descr {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020; }

.label {
  margin: 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  color: #ffffff;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  line-height: 27px;
  text-transform: uppercase; }

.title {
  color: #222222;
  margin: 0;
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase; }

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-weight: 400;
  font-size: 17px;
  text-align: center; }

.mobile {
  min-height: 864px;
  padding: 46px 0 80px 0;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile_item {
    position: relative;
    padding-top: 82px;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px; }
    .mobile_item_subtitle {
      color: #FFFFFF;
      font-weight: 400;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase; }
    .mobile_item_plus {
      position: absolute;
      bottom: 34px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 29px;
      height: 29px;
      background: #000000;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
      .mobile_item_plus::before {
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        background-color: #1eacc7;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
      .mobile_item_plus::after {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        content: "";
        display: block;
        width: 2px;
        height: 14px;
        background-color: #1eacc7;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
      .mobile_item_plus:hover:before, .mobile_item_plus:hover::after {
        background-color: #FF5656; }
    .mobile_item_1 {
      background: url("../img/bg/mobile_screen_1.jpg") center center/cover no-repeat; }
    .mobile_item_2 {
      background: url("../img/bg/mobile_screen_2.jpg") center center/cover no-repeat; }
    .mobile_item_3 {
      background: url("../img/bg/mobile_screen_3.jpg") center center/cover no-repeat; }
    .mobile_item_4 {
      background: url("../img/bg/mobile_screen_4.jpg") center center/cover no-repeat; }
    .mobile_item_5 {
      background: url("../img/bg/mobile_screen_5.jpg") center center/cover no-repeat; }
    .mobile_item_6 {
      background: url("../img/bg/mobile_screen_6.jpg") center center/cover no-repeat; }

.topcar {
  min-height: 502px;
  padding: 54px 0 322px 0;
  background: #070716; }
  .topcar .label {
    background: #FFFFFF;
    color: #070716; }
  .topcar .title {
    color: #FFFFFF; }
  .topcar .subtitle {
    color: #FFFFFF; }

.bottomcar {
  position: relative;
  min-height: 397px;
  padding-top: 210px;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat;
  color: #222222;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center; }
  .bottomcar_img {
    text-align: center;
    position: absolute;
    top: -267px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.require {
  min-height: 917px;
  padding: 66px 0 87px 0; }
  .require_block {
    margin: 33px 0; }
    .require_block_nmb {
      margin-bottom: 0; }
  .require_title {
    font-weight: 400;
    font-size: 22px;
    color: #1CA8C3; }
  .require_list {
    list-style: none;
    padding-left: 50px;
    padding-top: 15px; }
    .require_list li {
      position: relative;
      color: #222222;
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 10px; }
      .require_list li::before {
        content: "";
        position: absolute;
        left: -33px;
        display: block;
        width: 21px;
        height: 20px;
        background: url("../icons/check_blue.png") center center/cover no-repeat; }
  .require_descr {
    color: #1CA8C3;
    font-weight: 300;
    font-size: 17px; }
  .require .warning .require_title {
    color: #FF5656; }
  .require .warning .require_list li:before {
    background: url("../icons/check_red.png") center center/cover no-repeat; }

.worldwide {
  min-height: 720px;
  padding: 46px 0 21.5px 0;
  background: url("../img/bg/map.jpg") center center/cover no-repeat; }
  .worldwide .label {
    background: #FFFFFF;
    color: #070716; }
  .worldwide .title {
    color: #FFFFFF; }
  .worldwide .subtitle {
    color: #FFFFFF; }
  .worldwide_link {
    color: #1FBAD6;
    margin-top: 456px;
    font-weight: 400;
    font-size: 15px;
    line-height: 68px;
    text-transform: uppercase;
    text-align: center; }

/*# sourceMappingURL=style.css.map */